<header>
  <h1 class="site-title">Header h1</h1>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">A</a></li>
    <li class="navitem"><a href="/">B</a></li>
    <li class="navitem"><a href="/">C</a></li>
  </ul>
</nav>
