<article class="todo-item">
    <div class="todo-icon">
        <i class='!!!'></i>
    </div>
    <div class="todo-content">
        <p class="todo-title">
            {{title}}
        </p>
        <p class="todo-date">
            Do by: 
            <a href="#">{{date}}</a>
        </p>
        <a type="button" class="btn btn-success" href='/todo/{{_id}}'>Done!</a>
        <a type="button" class="btn btn-danger" href='/todo/{{_id}}'>Cancel</a>
    </div>
 </article>