<main class="home">
    <div class="jumbotron">
        <h1 class="display-4">Home</h1>
        <p class="lead">Here you can add tasks with a due date and check them off as you do them</p>
        <hr class="my-4">
        <a class="btn btn-success" href="/todo" role="button">Get Started!</a>
    </div>
</main>