<div id="sidebar">SIDEBAR
  <button type="button" id="create-todo-button"><i class='new-todo'>Create Todo</i></button>
</div>

<div class="jumbotron next-to-side-bar">
    <h1 class="display-4">Tasks Completed</h1>
    <p class="lead"></p>
    <hr class="my-4">
</div>

<main class='todoContainer'> 
    {{#each todos}}
        {{>todo}}
    {{/each}}
</main>


 
