<div id="sidebar">SIDEBAR
  <button type="button" id="create-todo-button"><i class='new-todo'>Create Todo</i></button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-todo-modal" class="hidden">
    <div class="todo-containment">
        <div class="modal-header">
            <h3>New Todo:</h3>
            <button type="button" class="modal-close-button">&times;</button>
        </div>
        <div class="modal-body">
            <div class="todo-input-element">
                <label for="todo-title-input">Title</label>
                <textarea id="todo-title-input"></textarea>
            </div>
        </div>
        <div class="todo-input-element">
            <label for="todo-date-input">Date</label>
            <input type="text" id="todo-date-input">
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Add Todo</button>
        </div>
    </div>
</div>

<div class="jumbotron next-to-side-bar">
    <h1 class="display-4">Tasks Completed</h1>
    <p class="lead"></p>
    <hr class="my-4">
</div>

<main class='todoContainer'> 
    {{#each todos}}
        {{>todo}}
    {{/each}}
</main>


 
